div 
	| 連線名稱 : 
	input(type='text',name='name',value=adsl.name)
div
	| 連線帳號 : 
	input(type='text',name='id',value=adsl.id)
div
	| 密碼 : 
	input(type='text',name='password',value=adsl.password)
div
	input(type='button',id='updateAdsl',value='更新資料')