div(class='funcShell' )
	form(name='seoYahoo',action='',method='post')
		div 
			| 關鍵字:
			input(type='text',name='keyword',value=data.keyword)
		div
			| 網址:
			input(type='text',name='url',value=data.url)
		div
			input(type='button',name='test',value='更新資料')
			input(type='hidden' , value=funcName)