div(class='main',style={width:'100%'})
	div(class='box',style={width:'970px',margin:'auto',border:'1px dashed #55aaff',padding:'20px'})
		a(href="/",class="navi")
			| 首頁
		a(href="http://www.mkt178.com",class="navi" ,target="_blank")
			| 178